# Entornos virtuales de Python
venv/
.venv/
__pycache__/
*.pyc

# Dependencias de Node.js / React
node_modules/
frontend/node_modules/
dist/
build/

# Archivos de configuración y claves secretas
.env
*.env

# Archivos del sistema y de editores
.DS_Store
.vscode/
.idea/